.posAbs{
	position:absolute;
}
.posRel{
	position:relative;
}
.editEventHead{
	font-family:verdana;
	font-size:40px;
	margin-top:10px;
}
.editEventTextBox{
	padding-left:10px;
	left:130px;
	height:75px;
	width:618px;
}
.editEventTextBoxStyle{
	border:1px solid;
	font-size:20px;
	background:#ffffff;
}
.editEventTextBoxContent{
	padding-top:10px;
	font-size:20px;
}
.editEventDescBox{
	padding-left:10px;
	left:0px;
	margin-top:70px;
	height:275px;
	width:748px;
	overflow:hidden;
	z-index:1;
}

.editEventTextButton{
	left:680px;
	margin-top:15px;
}

.title{
	top:0px;
	z-index:1;
}
.from{
	top:100px;
}
.to{
	top:200px;
}
.place{
	top:300px;
	z-index:1;
}
.description{
	top:400px;
	z-index:1;
}
.editEventDropDown{
	top:52px;
	left:130px;
	height:75px;
	width:618px;
	z-index:10;
}
.preview{
	position:absolute;
	left:20px;
	top:120px;
	width:745px;
	height:600px;
	border:1px solid;
}
.afterPreview{
	position:absolute;
	left:20px;
	top:780px;'
}
.previewMetadata{
	position:absolute;
	left:20px;
	top:20px;
}
.previewMetadataContent{
	position:absolute;
	padding-left:10px;
}
.previewMedia{
	top:100px;
	left:110px;
}
.previewVideoMedia{
	width:500px;
	height:400px;
}
.previewPhotoMedia{
	width:70%;
}
.noHighlight
{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mainButton{
	align:center;
	position:absolute;
	padding-left:90px;
	padding-top:200px;
	top:542px;
	margin-top:450px;
	margin-left:250px;
}
.expanded_pie{
	position:absolute;
	margin-left:-110px;
}